# .env
.env

# needed for grimoire, otherwise it won't ignore the node_modules directory becaus our real .gitignore is in the root
node_modules

# nohup
nohup.out

# mp4s generated in CLI mode
*.mp4

# macOS DS_Store
.DS_Store

# log files
*.log